<!DOCTYPE HTML>
<html>
<head>
  <title>Top 100 Albums</title>
</head>
<body>

  <h1>Top 100 Albums of All Time</h1>

  <h2 style='display:inline'>Sort By:</h2>
  <a href='/' style='margin-left:1em'><button>Rank</button></a>
  <a href='/title'><button>Title</button></a>
  <a href='/year'><button>Year</button></a>

  <br><br>

  <form method='post' action='/highlight'>
    <input type='number' name='highlight'>
    <button type='submit'>Highlight</button>
  </form>

  <br><br><br>

  <table>
    <tr>
      <th>Rank</th>
      <th>Album Name</th>
      <th>Date Released</th>
    </tr>
    <% @albums.each do |album| %>
      <% if @album.rank == highlight %>
        <tr style='background-color: orange'>
      <% else %>
        <tr>
      <% end %>
        <th><% @album.rank %></th>
        <th><% @album.title %></th>
        <th><% @album.year %></th>
      </tr>
    <% end %>
  </table>

  </body>
  </html>
